# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv_py311/
venv/
ENV/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac/Linux hidden files
.DS_Store

# Others
*.log
*.sqlite3

